In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import PolynomialFeatures

In [3]:
poly=PolynomialFeatures(3)

In [4]:
poly.fit([[2,3],[4,5]])

PolynomialFeatures(degree=3, include_bias=True, interaction_only=False)

In [5]:
poly.fit_transform([[2,3,8],[4,5,9]])

array([[  1.,   2.,   3.,   8.,   4.,   6.,  16.,   9.,  24.,  64.,   8.,
         12.,  32.,  18.,  48., 128.,  27.,  72., 192., 512.],
       [  1.,   4.,   5.,   9.,  16.,  20.,  36.,  25.,  45.,  81.,  64.,
         80., 144., 100., 180., 324., 125., 225., 405., 729.]])

In [6]:
house_data=pd.read_csv('house_rental.csv.txt',index_col='Unnamed: 0')

In [7]:
house_data.shape

(645, 7)

In [8]:
house_data.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

In [9]:
house_data.describe()

,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
count,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000
mean,1527.656260,5.939535,10.855814,2.837209,1.813953,1.810853,61986.823256
std,767.386531,3.884721,4.996208,1.010740,0.462364,0.683574,35635.091007
min,359.358000,1.000000,1.000000,1.000000,0.000000,0.000000,6100.000000
25%,925.080000,3.000000,7.000000,2.000000,2.000000,1.000000,39000.000000
50%,1423.200000,5.000000,12.000000,3.000000,2.000000,2.000000,50000.000000
75%,1892.856000,8.000000,14.000000,4.000000,2.000000,2.000000,75000.000000
max,5856.468000,22.000000,38.000000,7.000000,4.000000,5.000000,250000.000000

In [10]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 645 entries, 1 to 648
Data columns (total 7 columns):
Sqft           645 non-null float64
Floor          645 non-null int64
TotalFloor     645 non-null int64
Bedroom        645 non-null int64
Living.Room    645 non-null int64
Bathroom       645 non-null int64
Price          645 non-null int64
dtypes: float64(1), int64(6)
memory usage: 40.3 KB

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
from sklearn.pipeline import make_pipeline

In [13]:
X=house_data[['Sqft','Floor','TotalFloor','Bedroom','Living.Room','Bathroom']]

In [14]:
Y=house_data['Price']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X1,X2,Y1,Y2=train_test_split(X,Y,random_state=0,train_size=0.75)

/home/kiran/.local/lib/python3.5/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [17]:
lr=LinearRegression()

In [26]:
lr.fit(X1,Y1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
lr.predict(X1[:12])

array([30361.99718709, 28620.23771529, 32796.55229115, 86104.36037602,
       92347.31839392, 78546.05266517, 84398.11713497, 80872.8174842 ,
       37363.72996734, 54778.49433879, 69972.35067764, 71195.98742162])

In [24]:
lr.score(X2,Y2)

0.6596035253139112

In [21]:
def PolynomialLinearRegression(degree):
    return make_pipeline(PolynomialFeatures(degree),LinearRegression(fit_intercept=True))

In [22]:
models = []
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
for degree in range (1,10):
    model=PolynomialLinearRegression(degree)
    model.fit(X1,Y1)
    Y_pred=model.predict(X1)
    models.append(model)
    print (('For {degree}, accuracy is {accuracy} , mse {mse}'.format(degree=degree,accuracy=r2_score(Y1,Y_pred), mse=mean_squared_error(Y1,Y_pred))))

For 1, accuracy is 0.7165250802589176 , mse 359293495.478295
For 2, accuracy is 0.7119348144729116 , mse 365111479.80274576
For 3, accuracy is 0.8256450776845418 , mse 220988119.6889845
For 4, accuracy is 0.8971671042466833 , mse 130336717.61547984
For 5, accuracy is 0.8978520891550981 , mse 129468525.74044907
For 6, accuracy is 0.89406511886637 , mse 134268364.09494033
For 7, accuracy is 0.765584333465792 , mse 297112789.7341949
For 8, accuracy is 0.8669699734402003 , mse 168610412.83615878
For 9, accuracy is 0.7948982747595181 , mse 259958503.0576583

In [23]:
models[1].predict([[2561.760,10,17,4,2,3000]])

array([7.59692299e+10])